.terraform/
*.tfstate
*.tfstate.*
*.tfplan
crash.log
crash.*.log
*.tfvars
!terraform.tfvars.example
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl
.vscode/
.idea/
*.pem
*.key
*.pfx
*.p12
